# ignore binaries
bin/*
gen/*

# appcompat
appcompat/bin/*
appcompat/gen/*

# material dialogs
material-dialogs/bin/*
material-dialogs/gen/*

# snackbar
snackbar/bin/*
snackbar/gen/*

# maven output
target/*

# local stuff
local.properties
