# ignore binaries
bin/*
gen/*

# appcompat
libs/appcompat/bin/*
libs/appcompat/gen/*

# material dialogs
libs/material-dialogs/bin/*
libs/material-dialogs/gen/*

# snackbar
libs/snackbar/bin/*
libs/snackbar/gen/*

# cardview
libs/cardview/bin/*
libs/cardview/gen/*

# maven output
target/*

# local stuff
local.properties
