<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.axdev.cpuspy"
    android:versionCode="100000"
    android:versionName="@string/version_name">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:logo="@mipmap/icon"
        android:theme="@style/AppTheme"
        android:name="CpuSpyApp"
        android:allowBackup="true">

        <!-- main view -->
        <activity android:name=".ui.HomeActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Settings Menu -->
        <activity android:name=".ui.PrefsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.HomeActivity" >
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.HomeActivity" />
        </activity>

        <!-- Info Screen -->
        <activity android:name=".ui.InfoActivity"
            android:label="@string/information"
            android:theme="@style/AppTheme"
            android:parentActivityName=".ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity" />
        </activity>

        <!-- Welcome Screen -->
        <activity android:name=".ui.WelcomeActivity"
            android:label="@string/welcome"
            android:theme="@style/NoTitleTheme" >
        </activity>

        <receiver android:name=".receiver.PowerConnectionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="e4800ae61bbbd6fe45650c1aac0e812a2fbdab51" />
    </application>

</manifest>
